{% extends 'base.html' %}

{% block title %}
	Brand
{% endblock %}

{% block style %}
    <style>
        a {
            text-decoration: none;
        }
            .pagination {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
        
            .pagination li {
                list-style: none;
                margin: 0 5px;
            }
        
            .pagination a,
            .pagination span {
                display: inline-block;
                padding: 8px 12px;
                text-decoration: none;
                color: #fff;
                background-color: #28a745; /* Yashil rang */
                border-radius: 4px;
            }
        
            .pagination .disabled span,
            .pagination .active span {
                background-color: #6c757d; /* Bo'sh rang */
                cursor: not-allowed;
            }
        
            .pagination .active a {
                pointer-events: none;
            }
    </style>

{% endblock %}


{% block content %}



    <div class="container p-2">
        <a href="{% url "create_brand" %}" class="btn btn-success mb-2">Add</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    Name
                    <a href="{% url 'brand' %}?order=desc"><i class="bi bi-arrow-down"></i></a>
                    <a href="{% url 'brand' %}?order=asc"><i class="bi bi-arrow-up"></i></a>
                </th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>

            {% if brand_filter %}
                {% for brand in brand_filter %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ brand.name }}</td>
                        <td>
                            <a href="{% url 'update_brand' brand.id %}" class="btn btn-info">Update</a>
                            <a href="{% url "delete_brand" brand.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for brand in brands %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'detail_brand' brand.id %}">{{ brand.name }}</a></td>
                        <td>
                            <a href="{% url 'update_brand' brand.id %}" class="btn btn-info">Update</a>
                            <a href="{% url "delete_brand" brand.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div>
            <ul class="pagination">
            {% if brands.has_other_pages %}

                {% if brands.has_previous %}
                    <li><a href="?page={{ brands.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in brands.paginator.page_range %}
                    {% if brands.number == i %}
                        <li class="active"><span>{{ i }} </span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if brands.has_next %}
                    <li><a href="?page={{ brands.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            {% endif %}

            </ul>
        </div>
    </div>

{% endblock %}