{% extends 'base.html' %}

{% block title %}
	District
{% endblock %}

{% block style %}
    <style>
        a {
            text-decoration: none;
        }
    </style>
{% endblock %}


{% block content %}



    <div class="container p-2">
        <a href="{% url "create_district" %}" class="btn btn-success mb-2">Add</a>
        <a href="{% url "export_district" %}" class="btn btn-success mb-2">Export</a>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    Name
                    <a href="{% url 'district' %}?order=desc"><i class="bi bi-arrow-down"></i></a>
                    <a href="{% url 'district' %}?order=asc"><i class="bi bi-arrow-up"></i></a>
                </th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>

            {% if district_filter %}
                {% for district in district_filter %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ district.name }}</td>
                        <td>
                            <a href="{% url 'update_district' district.id %}" class="btn btn-info">Update</a>
                            <a href="{% url "delete_district" district.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for district in districts %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'detail_district' district.id %}">{{ district.name }}</a></td>
                        <td>
                            <a href="{% url 'update_district' district.id %}" class="btn btn-info">Update</a>
                            <a href="{% url "delete_district" district.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}