{% extends 'base.html' %}

{% block title %}
	Employee
{% endblock %}

{% block style %}
    <style>
        a {
            text-decoration: none;
        }
    </style>
{% endblock %}


{% block content %}



    <div class="container p-2">
        <a href="{% url "create_employee" %}" class="btn btn-success mb-2">Add</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    Name
                    <a href="{% url 'employee' %}?order=desc"><i class="bi bi-arrow-down"></i></a>
                    <a href="{% url 'employee' %}?order=asc"><i class="bi bi-arrow-up"></i></a>
                </th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>

            {% if employee_filter %}
                {% for employee in employee_filter %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ employee.first_name }}</td>
                        <td>
                            <a href="{% url 'update_employee' employee.id %}" class="btn btn-info">Update</a>
                            <a href="{% url "delete_employee" employee.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for employee in employees %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'detail_employee' employee.id %}">{{ employee.first_name }}</a></td>
                        <td>
                            <a href="{% url 'update_employee' employee.id %}" class="btn btn-info">Update</a>
                            <a href="{% url "delete_employee" employee.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}