{% extends 'base.html' %}

{% block title %}
	Region
{% endblock %}

{% block style %}
    <style>
        a {
            text-decoration: none;
        }
    </style>
{% endblock %}


{% block content %}



    <div class="container p-2">
        <a href="{% url "create_region" %}" class="btn btn-success mb-2">Add</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    Name
                    <a href="{% url 'region' %}?order=desc"><i class="bi bi-arrow-down"></i></a>
                    <a href="{% url 'region' %}?order=asc"><i class="bi bi-arrow-up"></i></a>
                </th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>

            {% if region_filter %}
                {% for region in region_filter %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ region.name }}</td>
                        <td>
                            <a href="{% url 'update_region' region.id %}" class="btn btn-info">Update</a>
                            <a href="{% url "delete_region" region.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for region in regions %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'detail_region' region.id %}">{{ region.name }}</a></td>
                        <td>
                            <a href="{% url 'update_region' region.id %}" class="btn btn-info">Update</a>
                            <a href="{% url "delete_region" region.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}